* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin: auto;
}

header {
    margin: 0 auto;
}

h1 {
    text-shadow: 1px 1px 3px rgba(0,0,0, 0.7);
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgba(235, 204, 151, 0.7);
    border-radius: 4px;
    padding: 10px;
}

div {
    margin: auto;
    width: 100vh;
    display: flex;
}

button {
    min-width: 100px;
    max-width: 50%;
    margin: 0 auto;
    background-color: chocolate;
    border: none;
    border-radius: 10px;
    color:antiquewhite;
    height: 4rem;
    font-size: large;
}

.pet-img {
    max-width: 100%;
    margin: 10px auto;
}

#selectBreed {
    display: flex;
}

#selectBreed select {
    width: 50%;
}